body {
  min-width: 1200px;
  margin: 0;
  padding: 0;
  margin: 0 auto;
  font-style: normal;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  font-family: "Roboto", "Myriad Pro", sans-serif;
  color: #000000;
  background-color: #ffffff;
}
.container {
  width: 1160px;
  margin: 0 auto;
  padding: 0 20px;
}
.main-header,
.main-header-inner {
  background-color: #eeeeee;
  color: #000000;
}
.main-header-inner {
  padding-bottom: 108px;
}
.feedback-page .main-header {
  padding-bottom: 100px;
}
.main-header-top {
  display: -ms-flexbox;
  display: flex;
  line-height: 16px;
  background-color: #eeeeee;
  color: #000000;
}
.main-header-top a {
  color: #000000;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
}
.main-header-top a:hover {
  color: #fb565a;
}
.main-header-top a:active {
  color: rgba(0,0,0,0.3);
}
.main-header-top .active {
  background-image: linear-gradient(to left, #fb565a, #fb565a);
  background-position: 0 85%;
  background-size: 10px 2px;
  background-repeat: repeat-x;
}
.logo {
  width: 160px;
  margin-top: 49px;
}
.logo img,
.logo-link{
  display: block;
}
.logo-link[href]:hover {
  opacity: 0.8;
}
.logo-link[href]:active {
  opacity: 0.3;
}
.main-navigation{
  width: 440px;
  margin-top: 82px;
  margin-left: 200px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack:justify;
  justify-content:space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.shopping-cart{
  position: relative;
  margin-top: 82px;
  margin-left: auto;
  padding-left: 41px;
}
.shopping-cart::before {
  position: absolute;
  content: "";
  top: -1px;
  left: 0px;
  width: 15px;
  height: 15px;
  background-image: url("../img/sprite.png");
  background-position: -8px -8px;
} 
.slider{
  position: relative;
  width: 1160px;
  min-height: 431px;
  background-color: #eeeeee;
  color: #000000;
}
.slider input[type=radio] {
  position: absolute;
  opacity: 0;
}
.slider-controls{
  position: absolute;
  bottom: 92px;
  left: 50%;
  width: 200px;
  height: 22px;
  margin-left: -100px;
  text-align: center;
  z-index: 1;
}
.slider-controls label{
  position: relative;
  display: inline-block;
  width: 18px;
  height: 18px;
  margin: 0 6px;
  background: white;
  vertical-align: top;
  border-radius: 50%;
  cursor: pointer;
}
.slider-controls label::before {
  display: none;
  position: absolute; 
  content: "";
  width: 4px;
  height: 4px;
  top: 5px;
  left: 5px;
  border-radius: 50%;
  background-color: transparent;
  border: 2px solid #c1c1c1;
}
#swithch_slider1:checked ~ .slider-controls label[for="swithch_slider1"]::before,
#swithch_slider2:checked ~ .slider-controls label[for="swithch_slider2"]::before,
#swithch_slider3:checked ~ .slider-controls label[for="swithch_slider3"]::before { 
  display: block;
}
.slides-item {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.slides-item-content{
  width: 514px;
  padding-top: 78px;
  color: #283136;
}
.slides-item-title {
  display: block;
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
  margin-bottom: 27px;
}
.slides-item-text {
  width: 365px;
  margin-bottom: 39px;
}
.wide-text {
  width: 420px;
}
.btn {
  display: block;
  width: 240px;
  padding: 16px 0;
  font-size: 16px;
  line-height: 18px;
  color: white;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  border-radius: 3px;
}
.btn-swith {
  background:#fb565a;
}
.slides-item:nth-child(1){
  background-image:url("../img/slide1.png");
  background-repeat:no-repeat;
  background-position:93% 19px;
}
.slides-item:nth-child(2){
  background-image:url("../img/slide2.png");
  background-repeat:no-repeat;
  background-position:100% 0px;
  overflow:visible;
}
.slides-item:nth-child(3){
  background-image:url("../img/slide3.png");
  background-repeat:no-repeat;
  background-position:100% 19px;
}
.slides-item{
  display: none;
}
#swithch_slider1:checked ~ .slides .slides-item:nth-child(1) { 
  display: block;
}
#swithch_slider2:checked ~ .slides .slides-item:nth-child(2) { 
  display: block;
}
#swithch_slider3:checked ~ .slides .slides-item:nth-child(3) { 
  display: block;
}
main {
  width: 1160px;
  padding: 0 20px;
  margin: 0 auto;
}
.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
}
.features {
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  margin:0px;
  padding: 0px;
  margin-top: 80px;
  padding-bottom: 80px;
  border-bottom: 2px solid #f4f4f4;
}
.features-item {
  width: 300px;
  margin-right: 100px;
  padding-top:171px;
}
.features-title {
  margin: 0px;
  padding: 0px;
  margin-bottom: 16px;
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
}
.features-text {
  margin: 0px;
  padding: 0px;
  padding-right: 20px;
  margin-bottom: 32px;
  font-weight: 400;
}
.site {
  background-image: url("../img/illustration-1.png");
  background-repeat: no-repeat;
  background-position: top;
}
.btn-order {
  width: 160px;
  padding: 16px 0;
  cursor: pointer;
}
.btn-order:active {
  color: rgba(255, 255, 255, 0.3);
}
.site .btn-order{
  background-color: #fb565a;
}
.site .btn-order:hover{
  background-color: #e74246;
}
.site .btn-order:active{
  background-color: #d7373b;
}
.application {
  background-image: url("../img/illustration-2.png");
  background-repeat: no-repeat;
  background-position: top;
}
.application .btn-order {
  background-color: #00ca74;
}
.application .btn-order:hover {
  background-color: #00bc6c;
}
.application .btn-order:active {
  background-color: #00aa62;
}
.presentation {
  margin-right: 0px;
  background-image: url("../img/illustration-3.png");
  background-repeat: no-repeat;
  background-position: top;
}
.presentation .btn-order {
  background-color: #efc84a;
}
.presentation .btn-order:hover {
  background-color: #eab534;
}
.presentation .btn-order:active {
  background-color: #e5a722;
}
.about {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: start;
  align-content: flex-start;
  padding-bottom: 73px;
  margin-bottom: 47px;
  border-bottom: 2px solid #f4f4f4;
}
.description {
  width: 660px;
  margin-top: 74px;
  margin-right: auto;
}
.description-title {
  margin: 0px;
  padding:0px;
  margin-bottom: 34px;
  font-size: 45px;
  line-height: 45px;
  font-weight: 500;
}
.description-text {
  margin: 0px;
  padding: 0px;
  margin-bottom: 38px;
  font-weight: 400
}
.description-details {
  display: block;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 24px;
}
.description-details-list {
  margin: 0px;
  padding: 0px;
  list-style: none;
  font-weight: 400;
}
.description-details-item {
  position: relative;
  padding-left: 35px;
  font-weight: 400;
  margin-bottom: 24px;
}
.description-details-item:last-of-type {
  margin-bottom: 0px;
}
.description-details-item::before {
  position: absolute;
  left: 0px;
  top: 11px;
  content: "";
  width: 25px;
  height: 2px;
  background-color: #fc8e91;
}
.reason {
  width: 360px;
  margin-top: 40px;
  margin-left: auto;
}
.main-logo {
  margin: 0px;
  padding: 0px;
}
.reasons-title {
  display: block; 
  padding-left: 16px;
  margin-bottom: 40px;
  margin-top: 30px;
  font-weight: 700;
  text-transform: uppercase;
}
.reasons-list {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin: 0px;
  padding: 0px;
  list-style: none;
  line-height: 18px;
}
.reasons-item {
  width: 120px;
}
.reasons-item b {
  display: block;
  font-size: 45px;
  line-height: 45px;
  font-weight: 500;
  margin-bottom: 18px;
}
.reasons-item sup {
font-size: 62%;
}
.reasons-item-notice {
  display: inline;
  line-height: 18px;
  font-weight: 400;
}
.partners {
  padding-bottom: 39px;
  margin-bottom: 80px;
  border-bottom: 2px solid #f4f4f4;
}
.partners-list {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-align: center;
  align-items: center;
  margin: 0px;
  padding: 0px;
  padding-left: 30px;
  padding-right: 43px;
  list-style: none;
}
.partners-link {
  display: block;
  opacity: 0.2;
}
.partners-item {
  position: relative;
}
.partners-item:nth-of-type(1) {
  -ms-flex-item-align: end;
  align-self: flex-end;
  padding-right: 34px;
}
.partners-item:nth-of-type(1)::before {
  position: absolute;
  content: "";
  right: -17px;
  top: -1px;
  width: 2px;
  height: 50px;
  background-color: #eeeeee;
}
.partners-item:nth-of-type(2) {
  padding-right: 44px;
}
.partners-item:nth-of-type(2)::before {
  position: absolute;
  content: "";
  right: -2px;
  top: 17px;
  width: 2px;
  height: 50px;
  background-color: #eeeeee;
}
.partners-item:nth-of-type(3) {
  padding-right: 56px;
}
.partners-item:nth-of-type(3)::before {
  position: absolute;
  content: "";
  right: 1px;
  top: 0px;
  width: 2px;
  height: 50px;
  background-color: #eeeeee;
}
.partners-link:hover {
  opacity: 1;
}
.partners-link:active{
  opacity: 0.1;
}
.map {
  position: relative;
  min-height: 416px;
  margin-bottom: 70px;
  background: #e9e5dc url("../img/map.png") no-repeat center center; 
}
.contacts {
  position: absolute;
  top: 54px;
  left: 371px;
  width: 270px;
  min-height: 259px;
  padding-top: 50px;
  padding-left: 50px;
  background: #ffffff;
  z-index: 1;
}
.feedback-page .contacts {
   min-height: 180px;
}
.contacts-title {
  display: block;
  margin-bottom: 22px;
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
}
.contacts-adress,
.contacts-phone{
  display: block;
  margin-bottom: 18px;
  line-height: 18px;
  font-weight: 400;
  color: #666666;
}
.contacts-phone {
  margin-bottom: 38px;
}
.contacts-phone-number {
  text-decoration: none;
  color: #666666;
}
.btn-contacts {
  width: 219px;
  padding: 16px 0px;
  background-color: #fb565a;
  cursor: pointer;
}
.btn-contacts:hover {
  background-color: #e74246;
} 
.btn-contacts:active {
  background-color: #d7373b;
  color: rgba(255,255,255, 0.3); 
}
.page-footer-layout {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding-bottom: 50px;
}
.social {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 260px; 
}
.social-btn {
  position: relative;
  display: block;
  font-size: 0px;
  width: 78px;
  height: 78px;
  border-radius: 50%;
  background-color: #e1e1e1;
}
.social-btn::before{
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  background-image: url(../img/sprite.png);
  background-repeat: no-repeat;
  -ms-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
}
.social-btn-vkontakte::before {
  width: 26px;
  height: 15px;
  background-position: -8px -192px;
}
.social-btn-facebook::before {
  width: 12px;
  height: 22px;
  background-position: -8px -117px;
}
.social-btn-instagram::before {
  width: 21px;
  height: 21px;
  background-position: -8px -155px;
}
.social-btn:hover {
  background-color: #e74246;
}
.social-btn:active {
  background-color: #d7373b;
}
.social-btn-vkontakte:active::before,
.social-btn-facebook:active::before,
.social-btn-instagram:active::before {
  opacity: 0.3;
}
.special-offer {
  width: 560px;
  margin-left: 139px;
  margin-top: 5px;
}
.special-offer-title {
  display: block;
  margin-bottom: 9px;
  font-size: 36px;
  line-height: 36px;
  font-weight: 700;
}
.special-offer-text {
  line-height: 22px;
  font-family: "Roboto", "Myriad Pro",  sans-serif;
  color: #444444;
}
.modal-content {
  position: fixed;
  display: none;
  left: 50%;
  top: 50%; 
  width: 756px;
  min-height: 420px;
  padding-left: 102px;
  padding-right: 102px;
  padding-top: 85px;
  padding-bottom: 85px;
  -ms-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  background-color: #ffffff;
  box-shadow: 0px 0px 40px 0px rgba(0,1,1,0.75);
  z-index: 10;
}
.modal-content-show {
  display: block;
  animation: appearance 0.6s;
}
.modal-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}
.modal-overlay-show {
  display: block;
}
.btn-close {
  position: absolute;
  top: 78px;
  right: 88px;
  width: 22px;
  height: 22px;
  font-size: 0;
  background-color: transparent;
  border: 0;
  cursor: pointer;
}
.btn-close::before,
.btn-close::after{
  position: absolute;
  content: "";
  top: 0;
  right: 9px;
  width: 5px;
  height: 21px;
  background-color: #fb565a;
  z-index: 2;
}
.btn-close::before {
  -ms-transform:rotate(45deg);
  transform:rotate(45deg); 
}
.btn-close::after {
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.modal-content-title {
  display: block;
  margin-bottom: 50px;
  font-size: 45px;
  line-height: 45px;
}
.field-layout {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 40px;
}
.modal-content-form label{
  line-height: 18px;
  font-weight: 700;
}
.label-name {
  width: 360px;
}
.label-email {
  width: 360px;
}
.modal-content-form input {
  box-sizing: border-box;
  width: 100%;
  margin-top: 12px;
  padding: 14px 19px;
  border: 2px solid #d7dcde;
  border-radius: 4px;
  font: inherit;
  font-weight: 400;
  color: rgba(0,0,0,0.5);
}
.modal-content-form input:hover,
.modal-content-form textarea:hover {
  border-color: #b4b9bb;
}
.modal-content-form input:focus,
.modal-content-form textarea:focus {
  outline: none;
  border-color: #000000;
}
.modal-content-form label {
  font-size: 16px;
  line-height: 18px;
  font-weight: 700;
}
.label-letter {
  width: 100%;
}
.text-letter {
  width: 100%;
  height: 115px;
  padding: 14px;
  margin-top: 14px;
  margin-bottom: 47px;
  box-sizing: border-box;
  resize: none;
  border: 2px solid #d7dcde;
  border-radius: 4px;
  font: inherit;
  font-weight: 400;
  color: rgba(0,0,0,0.5);
}
.btn-sent {
  width: 260px;
  background-color: #fb565a;
  border: none;
  box-shadow: none;
}
.catalog-title {
  margin: 0px;
  padding: 0px;
  margin-top: 78px;
  margin-left: 215px; 
  font-size: 55px;
  line-height: 55px;
}
.sorting-layout {
  display: -ms-flexbox;
  display: flex;
}
.filter {
  width: 260px;
  margin-top: 55px;
}
.sorting {
  width: 760px;
  margin-left: auto;
}
.filter-item {
  margin: 0px;
  padding: 0px;
  border: 0px;
}
.filter-item-title {
  text-transform: uppercase;
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
}
.filter-item-range .filter-item-title {
  margin-bottom: 48px;
}
.filter-item-range {
  margin-bottom: 56px;
}
.range-controls {
  position: relative;
  height: 41px;
  padding-top: 39px;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 14px;
  border-radius: 5px;
  background: #f1f1f1;
}
.range-controls .scale {
  height: 2px;
  background-color: #d7dcde;
}
.range-controls .bar {
  height: 2px;
  width: 69%;
  background-color: #00ca74;
}
.range-controls .toggle {
  position: absolute;
  top: 30px;
  left: 0px;
  width: 4px;
  height: 4px;
  background-color: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0px 2px 1px 0 #cccdcd;
  cursor: pointer;
}
.range-controls .toggle:hover {
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}
.range-controls .toggle-min {
  left: 18px;
}
.range-controls .toggle-max {
  left: 160px;
}
.price-controls {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
  justify-content: space-between;
  font-size: 0px; 
}
.price-controls label {
  display: inline-block;
  vertical-align: top;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color: #283136;
  text-transform: uppercase;
}
.price-controls input {
  width: 60px;
  margin-left: 10px;
  padding: 8px 10px;
  font: inherit;
  text-align: center;
  border: none;
  background-color: #eeeeee;
  border-radius: 4px;
}
.filter-item-grid {
  margin-bottom: 44px;
}
.filter-item-grid .filter-item-title {
  margin-bottom: 13px;
}
.filter-item-features .filter-item-title {
  margin-bottom: 13px;
}
.filter-item-features {
  margin-bottom: 48px;
}
.filter-item-grid p,
.filter-item-features p{
  margin: 0px;
  padding: 0px;
  margin-bottom: 16px;
}
.filter-item-grid p:last-of-type,
.filter-item-features p:last-of-type {
  margin-bottom: 0px;
}
.filter-item-grid input[type="radio"] {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
}
.filter-item-grid input[type="radio"] + label {
  position: relative;
  padding-left: 35px;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: #283136;
}
.filter-item-grid input[type="radio"] + label:before{
  position: absolute;
  content: "";
  top: -2px;
  left: 0px;
  width: 17px;
  height: 17px;
  border-radius: 50%;
  border: 4px solid #b8b8b8;
  background-color: transparent;
}
.filter-item-grid input[type="radio"] + label:after{
  position: absolute;
  content: "";
  display: none;
  top: 6px;
  left: 8px;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background-color: #b8b8b8;
}
.filter-item-grid input[type="radio"]:checked + label:after {
  display: block;
}
.filter-item-features input[type="checkbox"] {
  display: none;
} 
.filter-item-features input[type="checkbox"] + label {
  position: relative;
  padding-left: 35px;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: #283136;
}
.filter-item-features input[type="checkbox"] + label::before {
  position: absolute;
  content: "";
  top: -2px;
  left: 0px;
  background-image: url("../img/sprite.png");
  width: 23px;
  height: 23px;
  background-position: -8px -39px;
  opacity: 0.4;
}
.filter-item-features input[type="checkbox"] + label:hover::before{
  opacity: 1;
}
.filter-item-features input[type="checkbox"]:checked + label::before {
  display: none;
}
.filter-item-features input[type="checkbox"]:checked + label::after {
  position: absolute;
  content: "";
  top: -2px;
  left: 0px;
  background-image: url("../img/sprite.png");
  width: 27px;
  height: 23px;
  background-position: -8px -78px;
  opacity: 0.4;
}
.filter-item-features input[type="checkbox"]:checked + label:hover::after{
  opacity: 1;
} 
.filter-item-features input[type="checkbox"]:disabled + label::before {
  opacity: 0.1;
}
.filter-item-features input[type="checkbox"]:checked:disabled + label::after {
  opacity: 0.1;
}
.btn-show {
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
  width: 100%;
  border: none;
  color: #000000;
  background-color: #eeeeee;
}
.btn-show:hover {
  background-color: #dfdfdf;
}
.btn-show:active {
  background-color: #d5d5d5;
  color: rgba(0,0,0,0.3);
  box-shadow: inset 0 3px 0 0 rgba(0,1,1,0.1)
}
.sorting-header {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-top: 60px;
  margin-bottom: 55px;
}
.sorting-title {
  margin-right: auto;
  font-size: 18px;
  line-height: 18px;
  font-weight: 700;
  text-transform: uppercase;
}
.sorting-criterions {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.sorting-criterions-item {
  font-size: 14px;
  line-height: 18px;
  font-weight: 500;
  color: rgba(0,0,0,0.3);
  text-transform: uppercase;
  text-decoration: none;
}
.sorting-criterions-item {
  margin-right: 26px;
}
.sorting-criterions-item:active,
.sorting-criterions .active-criterion {
  color: rgba(0,0,0,1);
}
.sorting-criterions-item:hover {
  color: rgba(0,0,0,0.6);
}
.sorting-criterions-item:active {
  color: rgba(0,0,0,1);
}
.sorting-indicator {
  display:-ms-flexbox;
  display:flex;
  width: 60px;
  -ms-flex-align: center;
  align-items: center;
}
.sorting-indicator-up {
  margin-left: 23px;
  font-size: 0px;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 10px solid #000000;
  opacity: 0.2;
}
.sorting-indicator-down {
  margin-left: auto;
  vertical-align: bottom;
  font-size: 0px;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 10px solid #000000;
  opacity: 0.2;
}
.sorting-indicator-up:hover, 
.sorting-indicator-down:hover {
  opacity: 0.4;
}
.sorting-indicator-up:active, 
.sorting-indicator-down:active,
.active-indicator{
  opacity:1;
}
.sorting-result {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.sorting-result-img img {
  display: block;
}
.sorting-result-img {
  position: relative;
  margin: 0px;
  padding: 0px;
}
.sorting-result-item {
  position: relative;
  border: 1px solid #e9e9e9;
  border-top: 41px solid #e9e9e9;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  margin-bottom: 35px;
}
.sorting-result-item::before {
  position: absolute;
  top: -30px;
  left: 15px;
  content: "\2022 \2022 \2022";
  font-size: 60px;
  color: #ffffff;
}
.sorting-result-item:hover{
  border-top-color: #4d4d4d;
  box-shadow: 0px 6px 16px 0px rgba(0,0,0,0.25);
}
.sorting-result-info {
  display: none;
  width: 362px;
  min-height: 215px;
  padding-top: 25px;
  position: absolute;
  bottom: 0px;
  left: 0px;
  text-align: center;
  background-color: #eeeeee;
}
.sorting-result-item:hover  .sorting-result-info {
  display: block;
}
.sorting-result-title {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
}
.sorting-result-discriotion{
  margin-bottom: 33px;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: #666666;
}
.btn-buy {
  display: inline-block;
  vertical-align: top;
  padding: 20px 60px;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  color: #ffffff;
  background-color: #fb565a;
  border-radius: 4px;
}
.btn-buy:hover {
  background-color: #e74246;
}
.btn-buy:active {
  background-color: #d7373b;
  box-shadow: inset 0px 3px 0px 0px rgba(0,0,0,0.1);
}
.pagination {
  margin-top: 20px;
  margin-bottom: 60px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
 }
.pagination-page {
  margin-right: 10px;
  min-width: 50px;
  height: 50px;
  background-color: #eeeeee;
  border-radius: 3px;
  text-align: center;
  line-height: 50px;
  font-weight: 500;
  text-decoration: none;
  text-transform: uppercase;
  color: #000000; 
}
.pagination-page:last-of-type {
  margin-right: 0px;
} 
.current-page {
  min-width: 44px;
  height: 44px;
  line-height: 44px;
  background-color: transparent;
  border: 3px solid #dbdbdb;
}
.next-page {
  width: 260px;
}
.pagination-page:not(.current-page):hover,
.next-page:hover {
  background-color: #dfdfdf;
}
.pagination-page:not(.current-page):active,
.next-page:active {
  background-color: #d5d5d5;
  color: rgba(0,0,0,0.3);
  box-shadow: inset 0 3px 0 0 rgba(0,1,1,0.1)
}
.wrapper {
  padding: 100px 600px;
}
.feedback-form label {
  font-size: 20px;
  line-height: 20px;
  font-weight: 700;
}
.feedback-form label-name,
.feedback-form label-email{
  margin-bottom: 10px;
}
.feedback-form input {
  width:100%; 
  margin-top: 15px;
  padding: 10px 10px;
  box-sizing: border-box;
  border: 3px solid #d7dcde;
  border-radius: 4px;
  font: inherit;
  font-weight: 400;
  color: rgba(0,0,0,0.5);
}
.feedback-form textarea {
  width:100%; 
  height: 200px;
  margin-top: 15px;
  margin-bottom: 50px;
  resize: none;
  padding: 10px 10px;
  box-sizing: border-box;
  border: 3px solid #d7dcde;
  border-radius: 4px;
  font: inherit;
  font-weight: 400;
  color: rgba(0,0,0,0.5);
}
.feedback-form input:focus,
.feedback-form textarea:focus {
  outline: none;
  border-color: #000000;
}
.feedback-page .btn-sent {
  margin: 0 auto;
}
/*------------- sprite ----------- */
.sprite {
  background-image: url("../img/sprite.png");
  background-repeat: no-repeat;
  display: block;
}
.sprite--icon-basket {
  width: 15px;
  height: 15px;
  background-position: -8px -8px;
}
.sprite-checkbox-off {
  width: 23px;
  height: 23px;
  background-position: -8px -39px;
}
.sprite-checkbox-on {
  width: 27px;
  height: 23px;
  background-position: -8px -78px;
}
.sprite-fb {
  width: 12px;
  height: 22px;
  background-position: -8px -117px;
}
.sprite-insta {
  width: 21px;
  height: 21px;
  background-position: -8px -155px;
}
.sprite-vk {
  width: 26px;
  height: 15px;
  background-position: -8px -192px;
}